/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Start Globale Rules */
:root {
    --green : #00e77f;
    --white : #fff;
    --light-white : #aaa;
    --black : #3d3d3d;
    --loght-bg : #4b4b4b;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.2s linear;
    text-decoration: none;
    text-transform: capitalize;
}
*::selection {
    background-color: var(--white);
    color: var(--black);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-padding-top: 8rem;
}
::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5rem;
}
body {
    background-color: var(--black);
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--loght-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
}
.heading {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}
.heading span {
    color: var(--green);
}
.btn:hover {
    background-color: var(--white);
    color: var(--black);
}
/* End Global Rules */

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color : var(--loght-bg);
    z-index: 9999;
}
.header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo {
    color: var(--white);
    font-size: 2.5rem;
}
.header .container .navbar a{
    margin-left: 2rem;
    color: var(--light-white);
    font-size: 2rem;
}
.header .container .navbar a:hover{
    color: var(--green);
}
.header .container .menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
    display: none;
}

/* start home style */
.home {
    margin-top: 6rem;
    
}
.home .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    
}
.home .row .content {
    flex: 1 1 40rem;
    text-align: center;
    
}
.home .row .content h3 {
    margin-bottom: 3rem;
    font-size: 10rem;
    color: var(--white);
}
.home .row .content h3 span {
    color: var(--green);
}
.home .row .image {
    flex: 1 1 40rem;
    
}
.home .row .image img {
    width: 100%;
}
/* end home style */
/* Start Count Style */
.count .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(27rem , 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.count .box-container .box {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--loght-bg);
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
}
.count .box-container .box i {
    font-size: 5rem;
    color: var(--green);
}
.count .box-container .box h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}
.count .box-container .box p{
    color: var(--light-white);
    font-size: 1.6rem;
}
/* End Count Style */
/* Start About Style */
.about .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.about .row .image {
    flex: 1 1 40rem;
}
.about .row .image img {
    width: 100%;
}
.about .row .content {
    flex: 1 1 40rem;
    text-align: center;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--white);
}
.about .row .content p {
    padding: 1rem 0;
    line-height: 2rem;
    font-size: 2rem;
    color: var(--light-white);
}
/* End About Style */

/* Start Courses SEction */
.courses .slide {
    width: 30rem;
    background-color: var(--loght-bg);
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    padding: 2rem;
}
.courses .slide img {
    height: 25rem;
    width: 100%;
}
.courses .slide h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
}
.courses .slide p {
    color: var(--light-white);
    line-height: 2rem;
    font-size: 1.6rem;
}
.swiper-button-next,
.swiper-button-prev{
    color: var(--green);
}
.swiper-pagination-bullet {
    background-color: var(--white);
}
.swiper-pagination-bullet-active {
    background-color: var(--green);
}
/* End Courses Section */

/* Start Teachers Styling */
.teachers .slide {
    position: relative;
    width: 40rem;
    overflow: hidden;
}
.teachers .slide img {
    width: 100%;
    height: 55rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.teachers .slide h3 {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}
.teachers .slide .share {
    position: absolute;
    top: 1rem;
    left: -12rem;
}
.teachers .slide:hover .share {
    left: 2rem;
}
.teachers .slide .share a {
    display: block;
    margin-top: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 2rem;
    text-align: center;
}
.teachers .slide .share a:hover {
    background-color: var(--green);
    color: var(--white);
}
.teachers-slider .swiper-wrapper {
    margin-bottom: 4rem;
}
/* End Teachers Styling */
/* Start Reviews Styling */
.reviews .reviews-slider .slide {
    width: 35rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--loght-bg);
    margin-bottom: 4rem;
}
.reviews .reviews-slider .slide p {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--light-white);
}
.reviews .reviews-slider .slide .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.reviews .reviews-slider .slide .user img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .reviews-slider .slide .user h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}
.reviews .reviews-slider .slide .user .starts i {
    font-size: 1.5rem;
    color: var(--green);
}
/* End Reviews Styling */

/* Start Contact Style */
.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contact .row .image {
    flex: 1 1 40rem;
}
.contact .row .image img {
    width: 100%;
}
.contact .row form {
    flex: 1 1 40rem;
}
.contact .row form .box {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--loght-bg);
    font-size: 1.8rem;
    color: var(--white);
    padding: 1.4rem;
    text-transform: none;
}
.contact .row form span {
    font-size: 1.6rem;
    color: var(--light-white);
}
.contact .row form .gender {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.contact .row form .gender label {
    font-size: 1.6rem;
    color: var(--light-white);
    margin-left: 0.5rem;
    cursor: pointer;
}
.contact .row form .gender #female {
    margin-left: 2rem;
}
.contact .row form .gender input {
    cursor: pointer;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--light-white);
}
.contact .row form .gender input:checked {
    background-color: var(--green);
    border-radius: 50%;
}
.contact .row form .gender #male:checked~label[for="male"]{
    color: var(--green);
}
.contact .row form .gender #female:checked~label[for="female"]{
    color: var(--green);
}
/* End Contact Style */

/* start footer styling */
.footer {
    background-color: var(--loght-bg);
    text-align: center;
}
.footer .share a {
    margin: 0 0.5rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: 50%;
    text-align: center;
}
.footer .share a:hover {
    background-color: var(--green);
}
.footer .credit {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 0.1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--light-white);
}
.footer .credit span {
    color: var(--green);
}
/* end footer styling */






























































































/* Start Media Queris */
@media (max-width : 991px){
    html {
        font-size: 55%;
    }
    .home .row .content h3 {
        font-size: 8rem;
    }
}
@media (max-width : 768px){
    .header .container .menu-btn {
        display: inline-block;
    }
    .header .container .navbar {
        position: absolute;
        left: 0;
        right: 0;
        top: 99%;
        border-top: 1px solid var(--light-white);
        background-color: var(--loght-bg);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .header .container .navbar.active {
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    .header .container .navbar a {
        display: block;
        margin: 2rem;
    }
    .home .row .content h3 {
        font-size: 6rem;
    }
    .home .row {
        flex-wrap: wrap-reverse;
    }
}
@media (max-width : 450px ){
    html {
        font-size: 50%;
    }
    .teachers .slide h3 {
        font-size: 3rem;
    }
}
/* End Media Queries */